/* MAIN */ 
.main-contain {
  background-color: #F7E4FF;
}
.main-contain .fade-in{
  opacity: 0;
}
.main-contain .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-left {
  width: 50%;
  padding: 60px 0px;
}
.main-contain .btn{
  border: 1px solid #410060;
  border-radius: 32px;
}
.main-contain .btn > a > span {
  color: #410060;
}
.main-contain .btn:hover > a > span {
  color: #fff;
}
.main-contain .btn::before{
  border: 1px solid #410060;
  background-color: #410060;
}
.main-right {
  width: 50%;
  position: relative;
  overflow: hidden;
  padding: 0px 150px;
  box-sizing: border-box;
}
.main-right .container {
  /* display: flex; */
  box-sizing: border-box;
  /* justify-content: center; */
  /* align-items: center; */
}
.main-right .container img {
  position: relative;
  z-index: 10;
  width: 300px;
  height: auto;
}
.main-right .swiper {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 300px;
  height: 400px;
  overflow: visible;
  padding: 0px 150px;
}

.main-right .swiper img {
  position: relative;
  z-index: 10;
  width: 280px;
  height: auto;
}

/* ABOUT */

.about h3 {
  position: relative;
  margin-bottom: 40px;
}
.about h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 148px;
  height: 4px;
  background-color: #e6006c;
}
.about > .inner > p {
  margin-bottom: 60px;
}
.about__img {
  display: flex;
  justify-content: space-between;
}
.about__img li {
  width: 400px;
  height: 560px;
  position: relative;
  box-sizing: border-box;
}
.about__img li .img_float {
  position: absolute;
}
.about__img li.about__img_world .img_float{
  /* padding-top: 110px; */
  top: 110px;
  left: 0;
}
.about__img li.about__img_peace .img_float{
  /* padding-top: 10px; */
  top: 10px;
  left: 0;
}
.about__img li.about__img_art .img_float{
  /* padding-top: 60px; */
  top: 60px;
  left: 0px;
}
.about__img li .img_float h2 {
  position: absolute;
  bottom: -50px;
  left: 20px;
  font-weight: 500;
}
.about__img li .img_float p {
  position: absolute;
  bottom: -60px;
  left: 20px;
}


/* RECRUIT */
.recruit {
  background-color: #F7E4FF;
}
.recruit .inner {
  overflow: hidden;
}
.recruit h3 {
  position: relative;
  margin-bottom: 30px;
}
.recruit h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 148px;
  height: 4px;
  background-color: #e6006c;
}
.recruit .left_right_inner {
  display: flex;
  position: relative;
  margin-top: 80px;
  column-gap: 40px;
}
.recruit .left p.content{
  text-align: left;
  margin-bottom: 10%;
  padding-left: 0px;
}
.recruit .left p {
  padding-left: 102px;
  margin-bottom: 20px;
}
.recruit .left .timer {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
.recruit .left .timer li {
  text-align: center;
}
.recruit .left .timer li span {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 4.2rem;
  background-color: #e6006c;
}
.recruit .left .btn {
  margin-left: 64px ;
}
/* !!!슬라이드!!! */

.recruit div.right .swiper {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 300px;
  height: 400px;
  overflow: visible;
  padding: 0px 150px;
}
.recruit .swiper {
  width: 100%;
}





/* SURVEY */
.survey {
  background-color: #ffffff;
}
.survey .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.survey .inner .survey__left{
  width: 50%;
}
.survey__left .sub-title, .survey__left .title, .survey__left .content {
  color: #333;
}

.survey .inner .survey__right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
.survey .inner .survey__right form{
  width: 100%;
  box-sizing: border-box;
}
.survey__right .input-box {
  width: 100%;
}
.survey__right .input-box li {
  display: flex;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  transition: 0.3s;
}
.survey__right .input-box li:hover {
  background-color: #F7E4FF;
}

.survey__right .input-box li label{
  width: 160px;
  color: #333;
  font-size: 1.8rem;
  position: relative;
}
.survey__right .input-box li label::before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 1px;
  height: 36px;
  transform: translateY(-50%);
  background-color: #999;
}
.survey__right .input-box li label span {
  color: #e6006c;
}
.survey__right .input-box li input {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333;
  outline: none;
}

.survey__right .input-box li.text-con-wrap {
  display: block;
}

.survey__right .input-box li.text-con-wrap label.text-con-title {
  width: 100%;
  color: #333;
  font-size: 1.8rem;
  display: block;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
.survey__right .input-box li.text-con-wrap label.text-con-title::before{
  content: '';
  display: none;
}
.survey__right .input-box li.text-con-wrap textarea {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  max-height: 100px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Arial";
  color: #333;
  outline: none;
  resize: none;
}
.survey__right .submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.survey__right .submit .check {
  display: flex;
  align-items: center;
}
.survey__right .submit .check input {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border-radius:4px;
  box-shadow: none;
  font-size: 1em;
}
.survey__right .submit .check input:hover {
  background-color: #F7E4FF;
}
.survey__right .submit .check label {
  color: #333;
  padding-left: 8px;
}
.survey__right .submit .btn {
  border: 1px solid #410060;
  border-radius: 32px;
}






#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
#to-top span {
  color: #fff;
  /* line-height: 40px; */
}

.tab_con, .mo_con{display:none;}

/* tablet */
@media screen and (min-width:768px) and (max-width:1279px) {
  .pc_con {display: none;}
  .tab_con {display: block;}

  /* MAIN */
  .main-left {
    padding: 0px;
  }
  .main-right {
    padding: 0px 42px;
  }
  .main-right .swiper {
    padding: 0px;
    margin: 0px 42px;
    overflow: hidden;
  }

  /* ABOUT */
  .about h3 {
    margin-bottom: 60px;
  }
  .about .about__img > li {
    width: 33%;
    height: 410px;
  }
  .about .about__img .img_float img {
    width: 240px;
  }

  /* SURVEY */
  .survey .inner {
    padding: 80px 0px;
  }
  .survey__right .input-box li {
    padding: 14px;
  }
  .survey__right .submit {
    flex-direction: column;
    gap: 10px;
  }
  /* RECRUIT */

  .recruit .swiper{
    overflow: visible;
  }
  .recruit .swiper .swiper-wrapper .swiper-slide img {
    margin: 0px auto;
    width: 260px;
  }
  .recruit .left .timer {
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }


}/*--------------- tablet ---------------*/

/* mobile 가로 480~767px*/
@media screen and (max-width:767px){
  .pc_con {display: none;}
  .mo_con {display: block;}

   /* MAIN */
  .main-contain .inner {
    flex-direction: column;
  }
  .main-left {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
  }
  .main-contain .btn {
    margin: 0px auto;
  }
  .main-right {
    display: none;
  }
  /* ABOUT */
  .about .inner {
    padding-bottom: 100px;
  }
  .about h3 {
    margin-bottom: 40px;
  }
  .about .about__img {
    flex-wrap: wrap;
  }
  .about .about__img > li {
    width: 48%;
    height: 240px;
  }
  .about .about__img .img_float img {
    width: 220px;
  }
  .about__img li.about__img_world .img_float {
    top: 20px;
  }
  .about__img li.about__img_peace .img_float {
    top: 110px;
  }
  .about__img li.about__img_art .img_float {
    top: 30px;
  }
  .about__img li .img_float p {
    display: none;
  }

  /* RECRUIT */

  .recruit .swiper{
    overflow: hidden;
  }
  .recruit .swiper .swiper-wrapper .swiper-slide img {
    margin: 0px auto;
    width: 238px;
  }
  .recruit .left .timer {
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
  }
  .recruit .left .timer li span {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
/* SURVEY */
.survey .inner{
  flex-direction: column;
  }
  .survey .inner .survey__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .survey .inner .survey__left .btn {
    display: none;
  }
  .survey .inner .survey__right {
    width: 100%;
  }
  .survey__right .submit {
    flex-direction: column;
    gap: 10px;
  }
  .survey__right .input-box li label::before {
    right: 3px;
  }

}/*--------------- mobile 가로 ---------------*/

/* mobile 세로 */
@media screen and (max-width:479px){
.pc_con {display: none;}
.mo_con {display: block;}

   /* MAIN */
  .main-contain .inner {
    flex-direction: column;
  }
  .main-left {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
  }
  .main-contain .btn {
    margin: 0px auto;
  }
  .main-right {
    display: none;
  }
  /* ABOUT */
  .about .inner {
    padding-bottom: 80px;
  }
  .about h3 {
    margin-bottom: 40px;
  }
  .about .about__img {
    flex-wrap: wrap;
  }
  .about .about__img > li {
    width: 48%;
    height: 200px;
  }
  .about .about__img .img_float img {
    width: 164px;
  }
  .about__img li.about__img_world .img_float {
    top: 20px;
  }
  .about__img li.about__img_peace .img_float {
    top: 110px;
  }
  .about__img li.about__img_art .img_float {
    top: 30px;
  }
  .about__img li .img_float p {
    display: none;
  }

  /* RECRUIT */

  .recruit .swiper{
    overflow: hidden;
  }
  .recruit .swiper .swiper-wrapper .swiper-slide img {
    margin: 0px auto;
    width: 238px;
  }
  .recruit .left .timer {
    justify-content: center;
    gap: 8px;
  }

  .recruit .left .timer li span {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
/* SURVEY */
.survey .inner{
  flex-direction: column;
  }
  .survey .inner .survey__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .survey .inner .survey__left .btn {
    display: none;
  }
  .survey .inner .survey__right {
    width: 100%;
  }
  .survey__right .submit {
    flex-direction: column;
    gap: 10px;
  }
  .survey__right .input-box li label::before {
    right: 3px;
  }

}/*--------------- mobile 세로 ---------------*/



/* tablet & mobile */
@media screen and (max-width:1279px){
/* RECRUIT */
.recruit .left .btn {
  margin: 0px auto;
}
.recruit .left_right_inner {
  flex-direction: column;
  column-gap: 0px;
}
.recruit .left_right_inner {
  margin-top: 60px;
}
.recruit .left_right_inner .left {
  margin-bottom: 20px;
}
.recruit .left p {
  font-size: 2.0rem;
  text-align: center;
  padding-left: 0px;
}

.recruit .swiper .swiper-wrapper {
  width: 50%;
}

}/*--------------- tablet & mobile ---------------*/